body {
    width: 900px;
    margin: auto;
}

table {
    margin: auto;
    font-size: 20px;
    border: 1px solid grey;
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
    padding: 5px;
}